.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

#header--wrapper {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.app--content {
  margin-top: 100px;
  height: 90vh;
  width: 100%;
}